:root {
    --gray-white: #D9D9D9;
    --gray: #4b4b4b;
    --black: #000000;
    --background: linear-gradient(180deg, #091C50 0%, rgba(19, 34, 73, 0) 100%);
}
.start {
    background-size: cover;
    background-position: center center;
    padding-top: 56.25%;
    width: 100%;
  }